<div class="row">
    <!--Aside Section-->
    <div class="col-12  col-xl-3">
        <aside>
            <div class="row">
                <div class="col-12 col-sm-6 col-xl-12">
                    <div class="card mb-3 mb-sm-0 mb-xl-3">
                        <div class="card-body">
                            {{!-- <form id="search-form" action="" method=""> --}}
                                <label id="searchLabel" class="search-form" for="searchDiscussion">
                                    <input placeholder="Search a keyword here..." type="text" name="searchDiscussion"
                                        id="searchDiscussion" />
                                </label>
                                {{!--
                            </form> --}}
                        </div>
                        {{!-- <div class=" card-footer">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="true" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    My Discussion
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" value="false" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Show All Discussion
                                </label>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <div class="col-12 col-xl-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img src="/public/images/background.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="col-6">
                        <h5 class="card-title">Event Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-clock-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                    </svg>
                                    05-01-2022 10:30
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                    </svg> Some Location Here
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img src="/public/images/background.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="col-6">
                        <h5 class="card-title">Event Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-clock-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                    </svg>
                                    05-01-2022 10:30
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                    </svg> Some Location Here
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img src="/public/images/background.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="col-6">
                        <h5 class="card-title">Event Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-clock-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                    </svg>
                                    05-01-2022 10:30
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                    </svg> Some Location Here
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
<script src="/public/js/eventsList.js"></script>