<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
    {{#if logged}}
    <nav>
        <div id="navbar">
            <div id="logo" class="reverse">
                <div class="logo">Stevens Social <span>Network</span></div>
            </div>
            <div id="links">
                <a href="/myEvents">My Events</a>
                <a href="/events">Events</a>
                <a href="/informative">Informative</a>
                <div class="dropdown">
                    <a class="dropbtn">Profile
                    </a>
                    <div class="dropdown-content">
                        <a href="/myProfile">My Profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    {{/if}}
    {{{body}}}
</body>

</html>