<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Stevens Social Network</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main class="container">
        <ul>
  <li><a href="#My Events">My Events</a></li>
  <li><a href="#Events">Events</a></li>
  <li><a href="#Informative">Informative</a></li>
  <li style="float:right"><a class="active" href="#My Profile">My Profile</a></li>
</ul>
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>

    <script src="/public/js/form.js"></script>
</body>

</html>