<main>
    <div class="info-search">
        <form id="search-form" action="" method="">
            <label id="searchLabel" for="searchDiscussion">
                <input placeholder="Search a keyword here..." type="text" name="searchDiscussion"
                    id="searchDiscussion" />
            </label>
    </div>
    <div class="listContainer">
        <table id="informative">
            <tr>
                <th>Discussion Topic</th>
                <th>Comments</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>14</td>
                <td>12-12-1223</td>
            </tr>
        </table>
    </div>
</main>