body {
  background-color: #344a72;
  font-family: "Roboto", sans-serif;
  margin: 0;

}

.signup-box {
  width: 360px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 3px;
}

.login-box {
  width: 360px;
  margin: auto;
  padding-bottom: 30px;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

.buttonRegister {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  border: 1px solid gray;
  border-radius: 6px;
  color: #444040;
  font-size: 18px;
}

p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}

.para-2 a {
  color: white;
}

.errors {
  padding: 10px;
  margin: 12px;
  color: #e00f00;
  font-weight: bold;
}

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fcfcfc;
  grid-gap: 1.5em;
  padding: 0 40px;
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.logo span {
  color: #0474bc;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Open Sans", sans-serif;
}

#links a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

#links a:hover {
  color: #0474bc;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdownMenu .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdownMenu:hover .dropdown-content {
  display: block;
}

.postContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 75%;
  margin: auto;
  margin-top: 10px;
}

.postTitle {
  text-align: left;
}

.description {
  text-align: justify;
  font-size: 18px;
}

.chatContainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.chatContainer::after {
  content: "";
  clear: both;
  display: table;
}

.chatContainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chatContainer p {
  text-align: left;
  padding-top: 0px
}

.chatRow {
  --bs-gutter-x: 0;
}

.chatContainer img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #625d5d;
}

.time-left {
  float: left;
  color: #625d5d;
}

/*
#informative {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#informative td,
#informative th {
  border: 1px solid #ddd;
  padding: 8px;
}

#informative th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0474bc;
  color: white;
} */
.bitem {
  color: #0768a5;
}

.row {
  margin-right: calc(0 * var(--bs-gutter-x))
}

#searchDiscussion {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search-form,
#post-form,
#comment-form {
  margin: auto;
  width: 100%;
}

#searchDiscussion {
  border-radius: 20px;
}

.category {
  background-color: #0474bc;
  margin-top: 20px;
  /* margin-left: 20px; */
}

.forum-col {
  min-width: 256px;
}

.last-post-col {
  min-width: 192px;
}

.card {
  margin-top: 20px;
  margin-left: 5px;
  width: 100%;

}

.table {
  background-color: white;
  /* margin-left: 20px; */
  width: 100%;
}

.descriptionTd {
  text-align: justify;
}

#error-main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.error-display {
  display: table-cell;
  vertical-align: middle;
}

.error-display h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
  color: white;
}